:root {
    /* options */
    /*---farver---*/

    --color-green-500: #585845;
    --color-green-400: #87876A;
    --color-green-300: #9F9F85;
    --color-green-200: #BABAA7;
    --color-green-100: #D9D9C2;
    --color-red-500: #751825;
    --color-red-400: #B22539;
    --color-red-300: #D43148;
    --color-red-200:#DE6073;
    --color-red-100:#E68593;
    --color-cream-500:#EFE8E0;
    --color-cream-300:#FBF7F2;
    --color-cream-100: #FCF9F8;
    --color-white: #FBFBFB;
    --color-black:#0B0B0B;
    --color-grey-500: #333333;
    --color-grey-300: #7B7C7F;
    --color-grey-100: #DEDDDE;

    /*---font---*/
    
    --font-family: 'Poppins', sans-serif;
    --text-size-5xl: 4rem;
    --text-size-4xl: 3.063rem;
    --text-size-3xl: 1.938rem;
    --text-size-2xl: 1.563rem;
    --text-size-xl: 1.25rem;
    --text-size-lg: 1.25rem;
    --text-size-md: 1.125rem;
    --text-size-sm: 1rem;
    --text-size-xs: 0.75rem;
    --text-weight-900:900;
    --text-weight-800:800;
    --text-weight-700: 700;
    --text-weight-600: 600;
  
    --border-focus: 4px solid var(--color-green-500);

    /*---mobile small---*/
    --mobile-image-small: 142px;

 

    /*---mobile large---*/
    --text-padding: 10px;
    --padding-yx: 10px;
    --width-350: 350px;
    --width-162: 162px;
    --border-2px: 2px solid var(--color-cream-500);
    --box-shadow: drop-shadow(0px 5px 8px var(--color-grey-100));

    /*---desktop small--*/
    --width-264:264px;
    --text-padding-5: 2px;

    /*---desktop medium--*/
    --width-570:570px;
    --height-362:362px;

    /*---desktop large--*/
    --image-width-554: 554px;
    --width-574:574px;
    --padding-15:15px;








  
    /* ---------------------------aliases/component tokens------------------------ */

    /*---font---*/
    --brand: var(--font-family);
    --p-small: var(--text-size-sm);
    --p-large: var(--text-size-md);
    --text-weight-medium: var(--text-weight-700);
    --text-weight-semibold: var(--text-weight-800);

    /*---farver---*/
    --primary-card-bg: var(--color-cream-300);
    --link-default-color: var(--color-red-300);
    --link-hover-color: var(--color-red-500);
    --deluxe-background: var(--color-red-100);
    --nyproduceret-background:var(--color-green-100);
    --tag-text-color:var(--color-grey-500);


    /*---mobile small---*/

    --mobile-small-width:var(--width-162);

  

    /*---mobile large---*/
    
    --space-between-items: var(--text-padding);
    --padding-mobile: var(--padding-yx);
    --mobile-large-width: var(--width-350);
    --mobile-border: var(--border-2px);
    --mobile-shadow:var(--box-shadow);

    

    /*---desktop small---*/
    --space-between-items-small-desktop: var(--text-padding-5);

    /*---desktop large---*/


  }
  